<img src="/assets/img/logo-copa-mobile.png" alt="este é o logo" />

<nav>
  <li><a href="/">Home</a></li>
  <li><a href="/cadastro">Cadastrar Jogador</a></li>

  <div><%- include("./search.ejs") %></div>
</nav>

