<section class="search">
    <form action="/search" method="post">
        <input type="text" name="jogador" placeholder="Nome do jogador">
        <button type="submit"> <i class="bi bi-search"></i></button>
    </form>
</section>