<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./components/head.ejs') %> 
  </head>
  <body>
    <header>
     <%- include('./components/nav.ejs') %> 
    </header>

    <main>
      <section id="cadastro">
        <div>
          <h2>Cadastre um novo jogador</h2>

          <form action="/create" method="post">

            <label for="nome"> Nome: </label>
            <input type="text" id="nome" name="nome" required />

          <label for="posicao">Posição:</label >
            <select name="posicao" id="posicao" required >
              <option value=""></option>
              <option value="PE">PE</option>
              <option value="PD">PD</option>
              <option value="CA">CA</option>
              <option value="SA">SA</option>
              <option value="MEI">MEI</option>
              <option value="MD">MD</option>
              <option value="ME">ME</option>
              <option value="MC">MC</option>
              <option value="VOL">VOL</option>
              <option value="LE">LE</option>
              <option value="LD">LD</option>
              <option value="ZG">ZG</option>
              <option value="GK">GK</option>

            </select>

            <label for="pais"> País: </label>
            <input type="text" name="pais" id="pais" required/>

            <label for="imagem"> Imagem: </label>
            <input type="text" name="imagem" id="imagem" required/>

            <label for="clube"> Clube Atual: </label>
            <input type="text" name="clube" id="clube" required/>

            <label for="clube"> Ger: </label>
            <input type="text" name="ger" id="ger" required/>

            <button id="btnCadastrar" typ e="submit">Cadastrar</button>
          </form>
        </div>
      </section>
    </main>

    <%- include('./components/footer.ejs') %> 
  </body>
</html>
