<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style_cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <header>
        <img src="./assets/img/logo-copa-mobile.png" alt="este é o logo" />

        <nav>
          <li><a href="/">Home</a></li>
          <li><a href="cadastro.ejs">Cadastrar Jogador</a></li>
        </nav>
    </header>

    <main>
        <section id="cadastro">
            <div>

                <% if (jogador == undefined){ %>
                <h2>Cadastre um novo jogador</h2>

                <form action="./add" method="post">
                    
                    <label for="nome"> Nome: </label>
                    <input type="text" id="nome" name="nome" >
                    
                    <label for="posicao"> Posição: </label>
                    <input type="text" id="posicao" name="posicao" >

                    <label for="pais"> País: </label>
                    <input type="text" name="pais" id="pais">
                    
                    <label for="camisa"> Nº da camisa: </label>
                    <input type="text" name="camisa" id="camisa">

                    
                    <label for="imagem"> Imagem: </label>
                    <input type="text" name="imagem" id="imagem">

                    
                    <label for="clube"> Clube Atual: </label>
                    <input type="text" name="clube" id="clube">

                    
                    <label for="clube"> Ger: </label>
                    <input type="text" name="ger" id="ger">

                    <button id="btnCadastrar" typ   e="submit">Cadastrar</button>

                </form>
            <%  }else {  %>
                <h2>Atualize o jogador</h2>

                <form action="./update/:id" method="post">
                    
                    <label for="nome"> Nome: </label>
                    <input type="text" id="nome" name="nome" >
                    
                    <label for="posicao"> Posição: </label>
                    <input type="text" id="posicao" name="posicao" >

                    <label for="pais"> País: </label>
                    <input type="text" name="pais" id="pais">
                    
                    <label for="camisa"> Nº da camisa: </label>
                    <input type="text" name="camisa" id="camisa">

                    
                    <label for="imagem"> Imagem: </label>
                    <input type="text" name="imagem" id="imagem">

                    
                    <label for="clube"> Clube Atual: </label>
                    <input type="text" name="clube" id="clube">

                    
                    <label for="clube"> Ger: </label>
                    <input type="text" name="ger" id="ger">

                    <button id="btnAtualizar" type="submit">Atualizar</button>

                </form>
            <% } %> 
            </div>
        </section>
        
    </main>

    <footer>
        <p>Desenvolvido por A.Mathias para fins educativos.</p>
      </footer>
    
</body>
</html>