@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Ubutu", sans-serif, Arial;
  font-size: 100%;
  box-sizing: border-box;
}

ul,
nav {
  list-style: none;
}
body {
  background-color: aquamarine;
  min-height: 100vh;
}

/* Header */
header {
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

header img {
  width: 168px;
  margin: 10px;
}

header li {
  margin: 0 15px;
}

header li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

header li a:hover {
  color: rgb(4, 4, 0);
}

nav {
  display: flex;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
}
/* Cards */
section#cadastro {
  display: flex;
  justify-content: center;
  margin: 20px;
}

section#cadastro form {
  width: 50%;
  display: block;
  margin: 0 auto;
}
section#cadastro h2 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

section#cadastro form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 10px;
  margin-top: 5px;
}

section#cadastro button {
  display: flex;
  margin: auto;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: #fff;
  color: black;
  font-size: 1rem;
  margin-top: 10px;
  background-color: #dc2e68;
  color: aquamarine;
}

section#cadastro button:hover {
  transform: scale(1.1);
  transition: 0.3s;
  background-color: black;
  color: #e0f034;
}

/* Rodapé */
footer {
  background-color: #364fca;
  width: auto;
  height: 20px;
  bottom: 0;
  color: #e0f034;
}

footer p {
  text-align: center;
}


@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }
}